div{
    width: 200px;
    height: 400px;
    background-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.circle1{
    width: 100px;
    height: 100px;
    border: solid red 1px;
    top: 15px;
    border-radius: 50px;
    background-color: red;

    animation: 15s red infinite alternate;
}
.circle2{
    width: 100px;
    height: 100px;
    border: solid red 1px;
    top: 15px;
    border-radius: 50px;
    background-color: yellow;

    animation: 15s yellow infinite alternate;
}
.circle3{
    width: 100px;
    height: 100px;
    border: solid red 1px;
    top: 15px;
    border-radius: 50px;
    background-color: green;
    animation: 15s green infinite alternate;
}
@keyframes red{
    0%{opacity: 1}
    14%{opacity: 1;}
    15%{opacity: .1}
    16%{opacity: 1}
    20%{opacity: 1}
    40%{opacity: .1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: .1}
  }
  @keyframes yellow{
    0%{opacity: .1}
    20%{opacity: .1}
    40%{opacity: 1}
    60%{opacity: .1}
    80%{opacity: .1}
    100%{opacity: .1}
  }


@keyframes green {
    0%{opacity: .1}
  20%{opacity: .1}
  40%{opacity: .1}
  60%{opacity: 1}
  80%{opacity: 1}
  83%{opacity: .1}
  86%{opacity: 1}
  89%{opacity: 1}
  92%{opacity: 1}
  95%{opacity: 1}
  98%{opacity: 1}
  100%{opacity: 1}
}